body{
    background-color: black;
}
.navbar{
    font-family: "Raleway", sans-serif;
}
.header h1{
    font-family: "Raleway", sans-serif;
    text-decoration: overline 3px;
    text-decoration-color: pink;
}
.header p{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}
header img{
    margin-left: 80px;
}
.cards{
    background-color: black;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
}
.cards h5{
    color: rgb(250, 140, 193);
    font-weight: 800;
}
.cards p{
    font-weight: 200;
}

.card-item{
    cursor: pointer;
    box-shadow: 0px 1px 10px rgb(250, 140, 193);
    transition: all 400ms ease;
}
.card-item:hover{
    box-shadow: 0px 5px 20px rgb(245, 92, 166);
    transform: translateY(-3%);
}

/*ACORDION*/

.accordion {
    padding: 50px;
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
    outline: none;
    background-color: black;
    overflow: hidden;
}
.acordion-body{
    background: rgb(255, 118, 173);
    font-size: 0.7rem;
}
.accordion-item{
    font-family: "Raleway", sans-serif;
    background-color: rgb(255, 118, 173);
    border: none;
    box-shadow: 2px 2px 8px rgb(245, 92, 166) -2px -2px 8pxrgb rgb(245, 92, 166);
    font-weight: 300;
    font-size: 1.2rem;
}
.accordion-button{
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    background: transparent;
    outline: none;
    border: 1px solid rgb(255, 157, 213);
}
.accordion-button:focus{
    box-shadow: none;
    border: 1px solid rgb(255, 157, 213);
}
.accordion-button:not(.collapsed){
    background: rgb(255, 157, 213);
    box-shadow: none;
}
.accordion-button::after{
    background-image: none;
    content: "\f0d7";
    font-family: fontawesome;
    width: auto;
    height: auto;
}
.accordion-button::not(.collapsed)::after{
    background-image: none;
}



.hobbies{
    font-family: "Raleway", sans-serif;
}

.lista{
    letter-spacing: 1px;
    color: #dbdbdb;
    font-weight: 100;
}
a {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    color:rgb(238, 235, 236); 
    text-decoration: none; 
    transition: color 0.3s, text-decoration 0.3s; 
}

a:hover {
    color: rgb(242, 28, 135);
    text-decoration: underline;
}

/*FORM*/

.form{
    background-color: black;
    font-family: "Raleway", sans-serif;
}
.form p{
    font-weight: 100;
}
.btn-pink{
    color: #fff; 
    background-color: #fa8cc3;
    border-color:#fa8cc3; 
}
.btn-pink:hover{
background-color: #ff5baf; 
border-color: #ff5baf; 
}


.footer p{
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}