.avatar {
  display: grid;
  place-items: center;
  margin: 3rem;
}
.icons {
  text-align: center !important;
  list-style: none;
}
.header h1{
    font-family: "Montserrat", sans-serif;
}
.card{
    cursor: pointer;
    box-shadow: 0px 1px 10px rgb(89, 89, 89);
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 0px 5px 20px rgb(37, 37, 37);
    transform: translateY(-10%);
}
.link {
    font-size: 1.3rem;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(
    45deg,
    pink,
    rgb(237, 63, 153),
    rgb(193, 155, 240),
    rgb(4, 4, 66)
  );
  position: relative;
  background-size: 500%;
  animation: change 10s ease infinite;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
